{% extends "base.html" %}
 {% block contactactive%} active{% endblock contactactive %}
{% block title %}{% endblock title %}
{% block body %}

<div class="container">

    <h2 class=" text-center my-4" > Contact me</h2>
    <form action ="" method="POST">
        {% csrf_token %}
 <div class="input-group">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">

  <div class="form-group">

    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="name">
  </div>
     <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1"name="email"   placeholder="name@example.com">
  </div>
     <div class="form-group">
    <label for="phone">Phone Number</label>
    <input type="phone" class="form-control" id="phone" name="phone" placeholder="your nunber">
  </div>

  <div class="form-group">
    <label for="Issue">Explain your issue</label>
    <textarea class="form-control" id="Issue"name="Issue" rows="3"></textarea>
  </div>
     <button type="submit" class="btn btn-success">Submit</button>
</div>
 </div>

        </form>
</div>
{% endblock body %}


